* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 main h1 {
  display: flex;
  justify-content: center;
  color: white;
  padding-bottom: 2%;
}

main p{
  display: flex;
  color: black;
  justify-content: center;
}

#main {
  background-color: rgb(202, 198, 198);
  padding-top: 20px;
}

#image-div {
  padding: 0 20px;
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 6% 15% 4% 15%;
  background-color: white;
}

img {
  display: block;
  max-width: 100%;
}

figcaption {
  padding-bottom: 2em;
}

figcaption {
  display: flex;
  background-color: white;
  justify-content: center;
 
}

#tribute-info h2 {
  display: flex;
  justify-content: center;
  margin-top: 1.em;
}

#tribute-info ul  {
  padding: 0 30% 0 30%;
}

#tribute-info li {
  line-height: 1.9;
}

#tribute-info p{
  display: block;
  color: black;
  padding: 1em 30% 1em 30%;
  font-style: italic;

} 

cite {
    display: block;
  color: black;
  padding: 1em 30% 1em 30%;
  font-style: italic;

}

h3{
  display: flex;
  justify-content: center;
  font-weight: 700;
}


